.button {
  font-size: 1.25rem;
  background-color: #65d1a9;
  border: 1px solid #65d1a9;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border-radius: 6px;
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  border-radius: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: #006740a7;
  color: white;
  font-size: 1.25rem;
}

.button:hover,
.button:active {
  background-color: #89c1ac;
  border-color: #89c1ac;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}