.product {
  color: #4a5555;
  margin: 0rem;
  text-align: left;
  
}

.product p {
  font-size: 1.1rem;
  margin: 0rem;
}

.product span {
  font-size: 1.3rem;
  text-align: right;
  color: #31a67b;
  margin: 0rem;
}
